@font-face {
    font-family: 'PT_font';
    src: url('../../fonts/PTSerif-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'PT_font';
    src: url('../../fonts/PTSerif-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'PT_font';
    src: url('../../fonts/PTSerif-Italic.ttf');
    font-style: italic;
}
